@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  /* background-color: #131312; */
  color: #f8f9fa;
  background-image: url(/images/fondo.jpg);
  background-size: cover; 
}
header {
  grid-area: header;
  font-family: "Montserrat", sans-serif; 
}
main {
  grid-area: main;  
  font-family: "Montserrat", sans-serif;
  margin: 3px 40px 10px;
}
aside{
  grid-area: aside;
}
footer{
  grid-area: footer;
  background-color: #0000009f;
  width: 100%;
  display: flex;
  align-items:flex-end;  
  justify-content: space-between;
  margin-bottom: 4px;

}
.ul{    
  list-style: none; 

}
li {
  display: inline;
  padding: 10px;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
h1{ 
  margin: 30px 0px;
}
hr{
  margin: 10px 0px;
}
.container-index{ 
  display: grid;  
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;  
  grid-template-areas: 
  "header"
  "main"
  "footer"
  ;
}
.barraNavegacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0000009f;

}
.barraImage { 
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 30px;
  margin: 3px 3px;  
}
.container-info{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "header header"
  "main aside"
  "footer footer"
  ;
}
.botones{
  margin-top: 10px;
  border: solid 2px white;
  padding: 6px;
  width: fit-content;
  border-radius: 10px;
  background-color: #131312b7;
}
li:hover{
  background-color: grey;
} 
.productos {
  border: outset 2px white;
  color: white;
  background-color: #1313127e;
  font-weight: bold;  
  padding: 5px;
}
input:hover{
  background-color: #131312;
  color: rgba(255, 0, 0, 0.466);
}
.marco {
  margin-top: 10px;
  border: solid 2px white;
  padding: 6px;
  width: fit-content;
  background-color: #131312b7;
  border-radius: 10px;
}
.wp {
  position: fixed;
  bottom: 30px;
  right: 40px;
}
.info {
  display: flex;
  justify-content: center;
  padding: 30px;
} 
.container-contact{
display: grid;
min-height: 100vh;
grid-template-columns: 1fr;
grid-template-rows: auto 1fr auto;
grid-template-areas:  
"header"
"main"
"footer"
}
.container-galery{
  display: grid;
  background-image: url(/images/fondo.png);
  background-size:contain;
  background-position: 50%;
  background-repeat:space;
  background-color: black;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "header"
  "main"
  "footer"
}
.seccion-productos1 img:hover{
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: ease;
}
.container-consulta{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
input:focus{
  color:beige;
}
input::placeholder{
  color:#131312;
}
.redes{
  max-width: 600px;
  display: flex;
  align-items: center;
}
.redes img{
  width: 50px;
  height: 40px;
  margin-top: 5px;
}
.redes label{
  margin-top: 10px;
  margin-left: 5px;
}
.container-footer{
  display: flex;
  align-content: center;
  justify-content: flex-end;  
}
@keyframes move{
  0%{
    height: 350px; 
    width: 450px;
  }
  100%{
    height: 375px; 
    width: 475px;
  }
}  
@media screen and (max-width: 568px) {

  main {
    margin: 6px;
  }
  .barraNavegacion {
   
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .barraImage { 
    margin: 15px 0px;  
  }
  video{
    width: 100%;
    height: 100%;
  }
  .info img {
    width: 100%;
    height: 100%;
  }
  .mapa {
    width: auto;
    height: auto;
  }  
  .marco {
    padding: 0px;   
  }
  .container-consulta{
    justify-content:center;
    flex-wrap: wrap;
  }
  .redes label{
    margin: 10px 0px;
  }
  footer{
    align-items:center;   
    flex-wrap: wrap;
    flex-direction: column;
}
  .seccion-productos1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .seccion-productos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .seccion-productos3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}  