header {
    grid-area: header;
    font-family: "Montserrat", sans-serif; 
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #0000009f;
        a {
            text-decoration: none;
            color: whitesmoke;
        }
        .barraImage { 
            display: flex;
            height: 100px;
            width: 100px;
            border-radius: 30px;
            margin: 3px 3px; 
        }   
        ul{    
            list-style: none;
            .botones{
                margin-top: 10px;
                border: solid 2px white;
                padding: 6px;
                width: fit-content;
                border-radius: 10px;
                background-color: #131312b7;
            } 
            a {
                text-decoration: none;
                color: whitesmoke;
            }
            li {
                display: inline;
                padding: 10px;
                :hover {
                    background-color: grey;  
                       
                } 
            }
            
            
        }
    }
}






