header {
    grid-area: header;
    font-family: "Montserrat", sans-serif; 
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #0000009f;
        .barraImage { 
            display: flex;
            height: 100px;
            width: 100px;
            border-radius: 30px;
            margin: 3px 3px; 
        }   
        ul{    
            list-style: none;
            li {
                display: inline;
                padding: 10px;                    
                }   

            .botones{
                margin-top: 10px;
                border: solid 2px map-get($variables,color-pr);
                padding: 6px;
                width: fit-content;
                border-radius: 10px;
                background-color: #131312b7;
            } 
            a {
                text-decoration: none;
                color: map-get($variables,color-pr);
            }
            li:hover{
                background-color: grey;  
               }     
        }   
    }
}






